#stu_container {
  position: relative;
  max-height: 40rem;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
  background-color: var(--white);
}
#studies {
  margin: auto;
  gap: 15px;
  padding-bottom: 120px;
}
.overflowScroll {
  overflow-y: scroll !important;
}
app-edit-pannel {
  display: flex;
  justify-content: flex-end;
}
.studiesBoard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding-top: 100px;
  padding-bottom: 100px;
}
.studies-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--borderRadius);
  box-shadow: 0 10px 30px -15px var(--shadow);
  background-color: var(--boostrapGrey);
  color: var(--white);
}
.img-job-cont {
  width: min(object-fit, 100%);
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.img-thumbnail {
  min-width: 150px;
  border: none;
}

.data-cont {
  text-align: center;
}

.description {
  width: 100%;
  border-radius: var(--borderRadius);
}

.portada {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: var(--white);
  transition: ease-in-out all 2s;
}

.title {
  color: var(--boostrapBlack);
}

.hide {
  margin-left: -30000px;
}

i {
  font-size: 1em;
}

.editPannel {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 3em;
  justify-content: flex-end;
}

#addBtn {
  margin-bottom: 5rem;
  width: 10rem;
}

.editPannel {
  display: flex;
  justify-content: center;
}
