<app-nav-bar [socialM]="this.socialM" [persona]="this.persona"></app-nav-bar>
<main
  data-bs-spy="scroll"
  data-bs-target="#nav-bar"
  data-bs-root-margin="0px 0px 0px"
  data-bs-smooth-scroll="true"
  class="bg-light rounded-2"
  tabindex="0"
>
  <app-about-me
    [socialM]="this.socialM"
    [persona]="this.persona"
    [softSkills]="this.softSkills"
    [hardSkills]="this.hardSkills"
  ></app-about-me>
  <section id="expStu">
    <app-studies class="box"></app-studies>
    <app-experience class="box"></app-experience>
  </section>
  <app-portfolio></app-portfolio>
</main>
<app-footer [socialM]="this.socialM" [persona]="this.persona"></app-footer>
