main {
  background-color: white!important;
}
#expStu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.box {
  flex: 1;
}

@media (min-width: 991px) {
  #expStu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.spinner{
  height: 100svh;
  width: 100svw;
  display: grid;
  place-content: center;
}