#about-container {
    margin: 0;
    font-family: "Lato", sans-serif;
    user-select: none
  }
  .contactIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .white-column{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

  }
  .title{
    display: block;
    font-size: 32px;
  }
  #about-container .white-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    color: black;
    min-height: 16rem;

  }
  #about-container .black-column {
    height: 21.5rem;
    background-color: var(--boostrapGrey);
    color: white;
    display: flex;
    flex-direction: column;
  }
    
    
  
  #profile-pic{
    object-fit: cover;
    padding-bottom: 9rem;
    margin-top: -1rem;
    width: 100%;
    height: 15.5rem;
    object-position: center 1rem;
    overflow: hidden;
  }
  
  .photo{
    transform: scaleX(-1); 
    position: relative;
    display: flex;
    align-items: flex-end;  
    justify-content: flex-end;
  }
  
  #description{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: -3rem!important;
    margin-inline: 1rem;
  }
  .personalData {
    margin-top: -5rem;
    text-align: center; 
  }
  .personalData h4 {
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 24px;
  }
  .personalData p{
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 17px;
  }
  .lDescription {
    padding: .6rem;
    margin-top: 2rem;
    font-size: 12px;
  }
  .lDescription i {
    display: block;
  }

  
  #skills-container{
    margin: 0;
    user-select: none
  }
  
  #skills-container .black-column{
    background-color: var(--boostrapGrey);
    color: white;
  }
  
  #skills-container .white-column{
    background-color: white;
    display: none;
    
    
    
  }
  
  #skills-container .cont {
    border: 1px solid black;
    margin: .5rem;
    border-radius: var(--borderRadius);
  }
  
  #soft-skills {
    padding: 30px 20px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    box-shadow: 0 10px 30px -15px var(--shadow);
    
  }
  
  .hex,.img-lang {
    transform: scale(0.8);

  }

  .hex-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hex-icon::before{
    content: '';
    box-shadow: 20px -16px wheat;
  }
  
  .hex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: black;
    
  }
  
  .soft-skills-icons {
    width: 40px;
  }
  
  figure{
    margin-inline: auto;
  }
  
  #languages-box {
    box-shadow: 0 10px 30px -15px var(--shadow);
    padding: 30px 20px 10px 20px ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
  }
  
  #languages-box .img-lang {
    width: 60px;
  }
  
  
  
  @media (min-width: 991px) {
    .title{
      font-size: 38px;
    }
    #about-container .white-column{
        min-height: 80%;
        text-align: left;
    }
    .personalData{
      text-align: right;
    }
    .personalData h4 {
      font-size: 28px;
    }
  
    .personalData p{
        font-size: 21px;
    }
    .lDescription {
      padding: .6rem;
      margin-top: 2rem;
      font-size: 16px;
    }
    #skills-container .white-column{
      display: flex;
    }
  
    #soft-skills {    
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #languages-box {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #description{   
      display: grid;
      grid-template-rows: 1fr;
      justify-content: right;
      text-align: right;
      margin: 1rem;
      position: relative;
      padding-top: 1rem;
      margin-top: 1rem;
      
    }
    .lDescription {
      padding-top: .1rem;
    }
    .editPannelImg{
      position: absolute;
    }

  }


i{
    font-size: 1em;
}



.editPannel, .editPannelImg {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 3em;
    justify-content: center;
   
  }

  .btn-cont{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .button-add {
    margin-bottom: 0.5GMRHMJ,rem;
    border-radius: 15px;
    height: 40px;
    width: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
