
    <div class="modal-content bg-light">
        <div class="modal-header bg-dark">
            <h4 class="modal-title">Proyect Pics </h4>
            <button type="button" class="btn-close bg-light btn-outline-dark" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col d-flex g-5" *ngFor="let image of images">
                    <img [src]="image" class="img-fluid img" alt="Imagen">
                </div>
            </div>
        </div>
    </div>
