#my-work {
  background-color: var(--boostrapBlack);
  color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#jobs-portada {
  display: grid;
  place-content: center;
  flex: 1;
  width: 100%;
  min-height: 40rem;
  max-height: 40rem;
  color: white;
  background-color: var(--boostrapGrey);
}
.title {
  text-align: center;
  color: var(--white);
}
#jobs-container {
  flex: 1;
  width: 100%;
  min-height: 40rem;
  max-height: 40rem;
  overflow:visible;
  background-color: var(--white);
}

#addBtn {
  margin-bottom: 1rem;
  width: 10rem;
  margin-inline: auto;
}
#card-container {

  text-align: center;
  color: var(--boostrapGrey);
}
.carousel-inner{
  gap: 12rem;
  height: 40rem;
 
  
}
.carousel-item{
  height: 100%;

  border: 1px black solid;
}
.proyectCont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
#imgWrapper {
  display: flex;
  border-radius: 18px;
  /* padding-top: 12rem; */
}
.carousel-pic {
  margin-inline: auto;
  animation: all 1s  ease-in-out;
  width: 100%;

   padding: 2rem;

}

#description {
  padding: 2rem;
  
}
.controls{
  /* position: absolute!important; */
}
.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  width: 2rem;
  z-index: 9;
}




.job-description {
  /* margin-inline: auto;
   width: min(0, 90%);
   min-height: 6rem;
   display: grid;
   align-content: center;
   flex: 1 1 auto;
   color: var(--white);
   font-size: 1.125rem;
   background-color: var(--boostrapBlack);
   box-shadow: 0 10px 30px -15px var(--shadow);
   border-radius: var(--borderRadius);
   z-index: 1; */
}

.links {
  background-color: var(--boostrapBlack);
}

app-edit-pannel {
  text-align: center;
  color: black;
  justify-self: center;
}
@media (min-width: 1200px) {
  /* .titleDesktop{
   display: block;
 }  
 .titleMobile{
   display: none;
 } */
}

@media (min-width: 1333px) {
  #data-box {
    /* text-align: right; */
  }
}
