#my-work {
  background-color: var(--boostrapBlack);
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
#jobs-portada {
  display: grid;
  place-content: center;
  flex: 1;
  width: 100%;
  min-height: 40rem;
  max-height: 40rem;
  color: white;
  background-color: var(--boostrapGrey);
}
.title {
  text-align: center;
  color: var(--white);
}
#jobs-container {
  flex: 1;
  width: 100%;
  min-height: 40rem;
  max-height: 40rem;
  overflow: hidden;
  background-color: var(--white);
}

#addBtn {
  margin-bottom: 1rem;
  width: 10rem;
  margin-inline: auto;
}
#card-container {
  text-align: center;
  color: var(--boostrapGrey);
}
.carousel{
  display: flex;
  flex-direction: column-reverse;
}
.carousel-inner {
  height: 40rem;
}
.carousel-item {
  height: 100%;
  border: 1px black solid;
}
.proyectCont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#imgWrapper {
  display: flex;
  justify-content: center;
  border-radius: 18px;
}
.carousel-pic {
  width: 100%;
  max-height: 280px;
  max-width: 320px;
  animation: all 1s ease-in-out;
  padding: 1rem;
  letter-spacing: 1px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  border: 10px solid transparent;
  border-image: url(https://previews.123rf.com/images/makler0008/makler00081211/makler0008121100217/17052897-white-background-with-black-border.jpg)
    30 round;
    background-color: rgba(20, 17, 17, 0.11);
 
}

#description {
  padding: 2rem;

}


.job-description {
  /* margin-inline: auto;
   width: min(0, 90%);
   min-height: 6rem;
   display: grid;
   align-content: center;
   flex: 1 1 auto;
   color: var(--white);
   font-size: 1.125rem;
   background-color: var(--boostrapBlack);
   box-shadow: 0 10px 30px -15px var(--shadow);
   border-radius: var(--borderRadius);
   z-index: 1; */
}
.carousel-indicators{
  background-color: var(--boostrapGrey);
  width: 100%;
  transform: scale(1.7);
  margin: 0!important;
  padding: 0!important;
 
 

}
.links {
  background-color: var(--boostrapBlack);
}

app-edit-pannel {
  text-align: center;
  color: black;
  justify-self: center;
}
@media (min-width: 991px) {
  #my-work {
    flex-direction: row;
  }
}
@media (min-width: 420px) {
  .carousel-pic {

    max-width: none;

 
  }
}
